.contactSectionWrapper {
    padding: 30px auto;
    background-color: var(--background-color);
    color: white;
}

.heading {
    font-weight: 600;
    text-align: center;
    padding: 60px 0;
}

.contactWrapper {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.leftWrapper {
    width: 50%;
    height: 500px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.rightWrapper {
    width: 50%;
    background-color: var(--dark-green);
    padding: 40px;
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 20px;
    }
}

.rightWrapper h2 {
    margin: 40px 0 20px 0;
}

.rightWrapper p {
    line-height: 1.5;
}

.left {
    background-color: var(--dark-green);
    height: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;    
}

.input {
    width: 100%;
    margin: 10px auto;
}

.startProjectButton {
    margin: 20px auto;
}

.react-calendar {
    width: 100%;
}