.contactSectionWrapper {
    padding: 30px auto;
    color: white;
    filter: brightness(10px)
}

.heading {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-style: normal;
    text-align: center;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: transparent;
    font-family: 'Montserrat-Bold';
    font-weight: 800;
    height: 65vh;
}

.contactWrapper {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.contactSectionWrapper::-webkit-scrollbar{
    display: none;
}

.leftWrapper {
    width: 50%;
    height: 500px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.rightWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 40px;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 20px;
    }
}

.rightWrapper h2 {
    margin: 40px 0 20px 0;
}

.rightWrapper p {
    line-height: 1.5;
}

.left {
    height: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}

.input {
    width: 100%;
    margin: 10px auto;
}

.startProjectButton {
    margin: 20px auto;
}

.react-calendar {
    width: 100%;
}