.footerWrapper {
    background-color: var(--background-color);
    color: white;
    padding: 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 1fr 1fr; */
}

.contactWrapper {
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.heading {
    margin: 30px 0;
}

.footerList {
    list-style: none;
    margin: 12px 0;
}

.footerList a {
    color: white;
    text-decoration: none;
}
.footerList a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.footerCopyRight {
    font-size: 14px;
    margin: 40px 0;
}

.footerInput{
    width: 70% !important;
    @media screen and (max-width: 480px) {
        width: 80% !important;
    }
}

.socialIcon {
    margin-right: 8px;
}