.inputWrapper {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 24px;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, border-color 0.3s ease;
    width: 100%;
    min-width: 100px;
}

.input {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100%;
}

.input:focus {
    outline: none !important;
}

.button {
    padding: 10px 20px;
    border-radius: 24px;
    color: black;
    float: right;
    cursor: pointer;
}