.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle div:nth-child(2) {
    transition: all 0.7s ease;
    width: 0;
}

.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.toggle{
    position: fixed !important;
}

#nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    opacity: 100%;
    pointer-events: all;
}

@media only screen and (max-width: 1270px) {
    .show-link {
        opacity: 1 !important;
    }
}