.sectionTitleWrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.heading {
    font-size: 40px;
    color: white;
    @media screen and (max-width: 768px) {
        font-size: 30px;
    }
    max-width: 30ch;
}

.subHeading {
    color: var(--gray);
    margin-top: 15px;
    max-width: 50ch;
    line-height: 1.5;
}
