* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #01060b;
  --primary-color: #ffffff;
  --secondary-color: #726f6f;
  --gray: #A4A4A4;
  --blue: #2369aa;
  --light-green: #184774;
  --dark-green: #071522;
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 4.5s);
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-theme-color: white;
  --swiper-pagination-bottom: 0px;
  --white-color: #fff;
  --black-color: #000000;
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
}

body {
  background-color: var(--background-color) !important;
  scroll-behavior: smooth;
}

.infinite-space-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* To hide the cancel option in calendar */
.MuiDialogActions-root {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

.modal {
  width: 100vw;
  margin: auto;
}

.modal-dialog{
  width: 85vw;
  max-width: none;
  margin: 30px auto;
}

.modal-content{
  width: 100%;
}