@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

.main {
  font-family: "Montserrat", sans-serif;
  --assistant-color: #f5f5f5;
  --font-color: #f9f9f9;
  --heading-color: #f9f9f9;
  --smooth-color: #f9f9f9;
  --reverse-color: #f9f9f9;
  --reverse-heading-color: #fff;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-theme-color: white;
}