.card {
    height: fit-content;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 0.4s ease;
    margin: 20px;
}

.card:before {
    height: 170px;
    width: calc(100% + 100px);
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, var(--background-color) 0%, #555555 100%);
    border-radius: 30px 30px 100% 100%;
    transition: all 0.4s ease-out;
    top: 0;
}

.card article {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card article h2 {
    color: white;
    margin: 0;
    padding: 40px 20px 10px 20px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.5px;
}

.card article .title {
    min-height: 100px;
    color: white;
    padding: 20px;
    letter-spacing: 0.8px;
    transition: all 0.4s ease;
}   

.card article .desc {
    padding: 10px 30px;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    color: #666;
    height: fit-content;
    transition: all 0.4s ease-out;
}

.card article .pic {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px 0;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.3);
    transition: all 0.6s ease;
}

.card article .pic img {
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px -5px rgba(1, 6, 11, 0.3);
}

.card:hover:before {
    height: 100%;
    border-radius: 30px;
}

.card:hover .desc {
    color: white;
}

.card:hover .pic {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.card:hover .pic img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
