.storyWrapper {
    position: relative;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 20px;
    transition: 0.3s ease;
}

.storyWrapper:hover {
    border: 1px solid whitesmoke;
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.4);
    transform: scale(1.05, 1.05);
}

.imgWrapper {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
