.aboutContainer {
    height: max-content;
    max-width: 800px;
    background-color: #2f2f2f;
    padding: 8px;
    position: relative;
    overflow: hidden;
    color: white;
    top: 0%;
}

.aboutContent {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 99;
}

.aboutContainer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1200px;
    width: 300px;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: rotateBorder 5s linear infinite;
}

@keyframes rotateBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media only screen and (max-width: 1250px) {
    .aboutImg {
        width: 60px;
    }

    .aboutHeadingText {
        font-size: 3.5vw;
    }

    .aboutSubHeadingText {
        font-size: 1.5vw;
    }

    .aboutContainer::after {
        width: 30vw;
    }
}

@media only screen and (max-width: 600px) {
    .aboutHeadingText {
        font-size: 25px !important;
    }

    .aboutSubHeadingText {
        font-size: 10px !important;
    }
}